html, body{
    margin: 0;
    height: 100%;
}
*{
    box-sizing: border-box;
}
.container{
    height: 100vh;
   
    display: flex;
    flex-direction: row;
}
.photo-container{
    height: 100%;
    flex: 0 0 40%;
    position: relative;

}
.photo-container span{
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;

}
img{
    height: 100%;
    width: 100%;
}
.form-container{
    flex: 0 0 60%;
    height: 100%;
    
    display: flex;
   flex-direction: column;
}
.top{
    background-color: #E5E7EB ;
    flex: 0 0 35%;
    padding: 40px;
    padding-top: 100px;
    font-weight: bold;
    font-size: 18px;
    
   
}
.center{
    flex:0 0 65%;
    padding: 20px;
}
#lets-do-this{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 15px;

}
form{
    display: flex;
    flex-direction: column;
}
.container-insideForm{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.container-insideForm div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
input{
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}